.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-color);
    box-sizing: border-box;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container nav .logo{
    color: var(--text-color);
    cursor: pointer;
}

.container .navlink{
    display: flex;
}

.container .navlink li{
    list-style: none;
    margin: 0 0.5rem;
}

.container ul li a{
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
    padding: 0.7rem 1 rem;
    display: block;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

.container ul li a:hover{
    transform: scale(1.05);
}

.icon{
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

@media (max-width: 800px) {
    .icon{
        display: block;
    }
    .container .navlink{
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #fff;
        position: absolute;
        width: 350px;
        height: 60vh;
        top: -800px;
        right: 0;
        z-index: 10;
    }
    .container nav .logo h1{
        font-size: 20px;
    }
}
